/* All styles will be prefixed with .gi */

.gi-notify-container {
  position: fixed;
  width: 400px;
  min-height: 40px;
  z-index: 9990;
  font-family: sans-serif;
  font-size: 14px;
}

.gi-notify-container-custom {
  position: relative;
  width: 400px;
  min-height: 40px;
  z-index: 1;
}

.gi-notify-container.gi-notify-top,
.gi-notify-container-custom.gi-notify-top {
  left: 50%;
  top: 0;
  margin-left: -200px;
}

.gi-notify-container.gi-notify-top-right,
.gi-notify-container-custom.gi-notify-top-right {
  top: 0;
  right: 10px;
}


.gi-notify-container.gi-notify-top-left,
.gi-notify-container-custom.gi-notify-top-left {
  top: 0;
  left: 5px;
}


.gi-notify-container.gi-notify-bottom-right,
.gi-notify-container-custom.gi-notify-bottom-right {
  bottom: 5px;
  right: 10px;
}


.gi-notify-container.gi-notify-bottom-left,
.gi-notify-container-custom.gi-notify-bottom-left {
  bottom: 5px;
  left: 5px;
}


.gi-notify-container.gi-notify-bottom,
.gi-notify-container-custom.gi-notify-bottom {
  left: 50%;
  bottom: 5px;
  margin-left: -200px;
}

.gi-notify {
  position: relative;
  min-height: 35px;
  width: 100%;
  padding-top: 5px;
  margin-top: 10px;
}

.gi-notify-icon {
  position: absolute;
  display: inline-block;
  height: 100%;
  left: 0;
  bottom: 0px;
  margin-right: 5px;
  padding: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.gi-notify-icon span {
  display: block;
  height: 20px;
  width: 20px;
}

.gi-notify-body {
  display: block;
  margin-left: 42px;
  margin-right: 30px;
  padding-top: 10px;
  padding: 7px;
}

.gi-notify-close {
  position: absolute;
  top: 15px;
  right: 10px;
}

.gi-notify-close span {
  display: block;
  width: 11px;
  height: 10px;
  background: url('images/x-close-sprite.png') no-repeat 0 0;
}

.gi-notify-close span:hover {
  width: 11px;
  height: 10px;
  background: url('images/x-close-sprite.png') no-repeat 0 -20px;
}

/*
 * Notification type: Info [default]
 */

.gi-notify-info {
  border: 2px solid #A6A6A6;
  background: #eeeeee;
}

.gi-notify-info .gi-notify-icon  {
  background: #cbcbcb;
}

.gi-notify-info .gi-notify-icon span {
  background: url('images/info.png') no-repeat;
}

/*
 * Notification type: Success
 */

.gi-notify-success {
  border: 2px solid #67B388;
  background: #a1ebc1;
}

.gi-notify-success .gi-notify-icon  {
  background: #3ebe75;
}

.gi-notify-success .gi-notify-icon span {
  background: url('images/success.png') no-repeat;
}

/*
 * Notification type: Warning
 */

.gi-notify-warning {
  border: 2px solid #C3bF5E;
  background: #fbffa1;
}

.gi-notify-warning .gi-notify-icon  {
  background: #dad05d;
}

.gi-notify-warning .gi-notify-icon span {
  background: url('images/warning.png') no-repeat;
}

/*
 * Notification type: Error
 */

.gi-notify-error {
  border: 2px solid #931212;
  background: #db4242;
  color: white;
}

.gi-notify-error .gi-notify-icon  {
  background: #b22222;
}

.gi-notify-error .gi-notify-icon span {
  background: url('images/error.png') no-repeat;
}
